<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successul Verification</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"/>
</head>
<body style="
        margin: 0;
        padding: 0;
        font-family: -apple-system, Roboto, sans-serif;
    ">
    <div style="
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    ">
        <div style="
            max-width: 450px;
            padding: 10px 30px;
        ">
            <div style="
                display: flex;
                justify-content: center;
            ">
                <i style="
                    color: #7001fa;
                    font-size: 50px;
                " 
                class="fa fa-check-circle" aria-hidden="true"></i>
            </div>
            <p style="font-size: 30px; text-align: center;">
                You've successfully verified your e-mail account with Milton Keynes Bank.
            </p>
            <div style="text-align: center;">
                <a style="
                    background-color: #7001fa;
                    color: white;
                    padding: 10px 15px;
                    border: none;
                    display: inline-block;
                    outline: none;
                    border-radius: 5px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    text-decoration: none;
                " href="/index">
                    Go to home
                </a>
            </div>
            
            
        </div>
    </div>
</body>
</html>